# Application Environment for demo purpose I have put the env in the dist
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=212843bb640cc852277648d00e3a54d6

DATABASE_URL="mysql://car_owner:pass1234@mysql:3306/car_mgt?serverVersion=8.0&charset=utf8mb4"
REDIS_URL="redis://redis:6379"

XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_MODE=coverage